body {
    padding-top: 5rem;
    background-color: aliceblue;
}

.flasher{
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.form-items {
    margin-top: 30px;
}